<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/topnav.css">
    <title>Admin</title>
</head>
    <body>
        <div class="topnav">
            <div class="jungleLogo">
                <img src="/images/jungle_logo2.png" alt="jungle logo" width="86" height="40">
            </div>
            <a href="customer">Customer</a>
            <a href="ws">Workstation</a>
            <a href="rd">Recieving Desk</a>
            <a class="active" href="admin">Admin</a>
        </div> <br> <br>
        <h2>Welcome to admin!</h2>
    </body>
</html>